
# Entorno virtual
venv/
.venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Base de datos local
db.sqlite3

# Archivos privados
.env
.env.*

# Archivos de VS Code
.vscode/

# Archivos temporales
*.log